<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    Listening on Port: <%= port %><p>
<!--
    Interfaces: <%= JSON.stringify(interfaces) %><p>
-->
    <%if (secret != undefined) { %>
    Secret: <%= secret %><p>
       <% } %>   
  </body>
</html>
